
    {% extends "layout.html"%}
    {% block content %}

    <style>
        .arrow{
            padding: 10px;
            margin: 10px;
        }
        .value{
            color:red;
        }
    
        .scrollable-wrapper {
            height: 100%;
            overflow-y: scroll;
      
        }
        .row {
            margin: 0;
        }
        
    </style>
        <div class="row" style="height: 92%;">
            <div id="leftBar" class="col-3 scrollable-wrapper p-0">
                <div class="col-md-12  bg-gray-700 p-4">
                    
                    <div class="row">
                            <h4 class="text-center p-2 text-white self-center"> ROBOT</h4> 
                        <div id="state_loading">
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                          <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                          </div> 
                        </div>    
                    </div>
                    <p id="connection"class=" col-sm-6 text-sm text-white">Connect:</p>
                     <button type="button" id='btn_connect' class="col-sm-6 btn btn-success m-2">Connect</button>
                    <button type="button" id='btn_home' class="col-sm-6 btn btn-primary m-2">HOME</button>
                    <button type="button" id='btn_refresh' class="col-sm-6 btn btn-primary m-2">REFRESH</button>
                    <div class="progress row m-2">
                        <div id="loading" class="progress-bar progress-bar-striped bg-warning " role="progressbar" style="width: 0%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="p-4 rounded-lg rounded-l-none bg-gray-600">
                        {%for j in ['J0','J1','J2','J3','J4']%}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">{{j}}</span>
                            </div>
                            <input type="number" class="form-control" step="0.01" id="{{j}}">
                         
                          </div>
                        {%endfor%}
                        <div class="pt-2">
                            <button id="btn_send_joint" type="button" class="min-w-full pl-4 pr-4 btn btn-primary">Send</button>
                        </div>
                    </div>
                    <div class="mt-4 p-4 rounded-lg .rounded-l-none bg-gray-600">
                        {%for a in ['X','Y','Z','A','B']%}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">{{a}}</span>
                            </div>
                            <input type="number" class="form-control" step="0.01" id="{{a}}">
                         
                          </div>
                        {%endfor%}
                        <div class="pt-2">
                            <button id="btn_send_xyz" type="button" class="min-w-full pl-4 pr-4 btn btn-primary">Send</button>
                        </div>
                    </div>
                    <div class="pt-2">
                        <button id="btn_grip" type="button" class="min-w-full pl-4 pr-4 btn btn-primary">Grip</button>
                    </div>
                </div>
            </div>
            <div id="content" class="col scrollable-wrapper p-0">
                <div class="col-md-12 m-0 p-0">
                    <div class="row bg-dark">
                        <button class="btn btn-outline-primary m-2" id="btnToggle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="12" height="16"><path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path></svg>
                        </button>
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                              <th colspan="5">Saved Positionn</th>
                              <th>
                                <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  SAVE CURRENT POSITION
                                </button>
                                <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu2">
                                    <button id="btn_add_joint" class="dropdown-item min-w-full pl-1 pr-1 mt-1 btn btn-primary" >JOINT POSITION</button>
                                    <button id="btn_add_xyz" class="dropdown-item min-w-full pl-1 pr-1 mt-1 btn btn-primary" >XYZ POSITION</button>
                                </div>
                              </div></th>

                            </tr>
                          </thead>
                        <thead>
                          <tr>
                            <th scope="col">CMD</th>  
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">(Joint/XYZ)</th>
                            <th scope="col">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                        {%for i in range(0,posCount)%}
                        
                          <tr>
                                <th scope="row">
                                <button id="btn_go" data-id={{positions[i].get('id','n/a')}}  name='goto_button' type="submit" class="go-click min-w-full pl-1 pr-1 mt-1 btn btn-primary">GO</button>
                                <button id="btn-edit" name='edit' data-id={{i}} data-toggle="modal" data-target="#myModal" class="edit-click min-w-full pl-1 pr-1 mt-1 btn btn-warning">EDIT</button>
                                <a href={{ url_for('delete',id = positions[i].get('id','n/a'))}} class="min-w-full pl-1 pr-1 mt-1 btn btn-danger" >DELETE</a>

                                 
                                </th>
                                <td>{{positions[i].get('id','n/a')}}</td>
                                <td>{{positions[i].get('name','n/a')}}</td>
                                <td>{{positions[i].get('position','n/a')}}</td>
                                <td>{{positions[i].get('space','n/a')}}</td>
                                <td>{{positions[i].get('description','n/a')}}</td>
                            
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    <div class="row flex justify-center">
                        <div class="col-md-12 flex justify-center">
                            <button type="button" class="btn btn-primary arrow">   UP   </button>
                        </div>
                        <div class="col-md-6 flex justify-end">
                            <button type="button" class="btn btn-primary arrow">  LEFT  </button>
                        </div>
                        <div class="col-md-6 flex justify-start">
                            <button type="button" class="btn btn-primary arrow"> RIGHT </button>
                        </div>
                        <div class="col-md-12 flex justify-center">
                            <button type="button" class="btn btn-primary arrow"> DOWN </button>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">ADD/UPDATE POSITION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <form>
                   <input name="edit_id" type="hidden" class="form-control" id="edit_id">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">NAME</label>
                    <input name="edit_name" type="text" class="form-control" id="edit_name" placeholder="POSITION NAME">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="edit-j0">J0/X</label>
                      <input name="edit_j0" type="number" class="form-control" id="edit_j0">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="edit-j1">J1/Y</label>
                        <input name="edit_j1" type="number" class="form-control" id="edit_j1">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="edit-j2">J2/Z</label>
                      <input name="edit_j2" type="number" class="form-control" id="edit_j2">
                    </div>
                     <div class="form-group col-md-2">
                      <label for="edit-j3">J3/A</label>
                      <input name="edit_j3" type="number" class="form-control" id="edit_j3">
                    </div>
                     <div class="form-group col-md-2">
                      <label for="edit-j4">J4/B</label>
                      <input name="edit_j4" type="number" class="form-control" id="edit_j4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="edit-space">SPANCE</label>
                    <select name="edit_space" class="form-control" id="edit_space">
                      <option>joint</option>
                      <option>xyz</option>
        
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="edit-description">DESCRIPTION</label>
                    <textarea name="edit_description"class="form-control" id="edit_description" rows="3"></textarea>
                  </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save changes</button>
              </div>
            
            </div>
          </div>
        </div>
    


    <script>
        var positions = {{ positions|tojson }};
        var config = {{ config|tojson }}
       
            $(document).on("click", ".go-click", function (pos) {
             var id = $(this).data('id');
              $.ajax({
                type:'POST',
                url:'/goto_position/'+id,
                data:{},
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    bindPositions(res)
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            });
           
         $(document).on("click", ".edit-click", function (pos) {
             var posIndex = $(this).data('id');
             var position = positions[posIndex];
             console.log('data >>',position);
             console.log('data >>',position.position);
             $('#edit_id').val(position.id)
             $('#edit_name').val(position.name)
             $('#edit_j0').val(position.position[0])
             $('#edit_j1').val(position.position[1])
             $('#edit_j2').val(position.position[2])
             $('#edit_j3').val(position.position[3])
             $('#edit_j4').val(position.position[4])
             $('#edit_space').val(position.space)
             $('#edit_space').removeAttr("disabled")
             $('#edit_description').val(position.description)
            });
         $('#btn_save').on('click',function(e){
             var id = $('#edit_id').val()
             var name = $('#edit_name').val()
             var j0 = parseFloat($('#edit_j0').val())
             var j1 = parseFloat($('#edit_j1').val())
             var j2 = parseFloat($('#edit_j2').val())
             var j3 = parseFloat($('#edit_j3').val())
             var j4 = parseFloat($('#edit_j4').val())
             var space = $('#edit_space').val()
             var description = $('#edit_description').val()
             var json = {id:id,
                         name:name,
                         position:[j0,j1,j2,j3,j4],
                         space:space,
                         description,description}
             $.ajax({
                type:'POST',
                url:'/update',
                data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    console.log(res);
                    $('#myModal').modal('hide')
                    window.location.href = '/'
                    bindPositions(res)
                    }
                })
             
        })
          $('#btn_add_joint').on('click',function(e){
               $.ajax({
                type:'GET',
                url:'/get_current_position/joint',
                //data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    console.log(res)
                    pos = res.data
                     $('#edit_id').val("")
                     $('#edit_name').val("")
                     $('#edit_j0').val(pos[0])
                     $('#edit_j1').val(pos[1])
                     $('#edit_j2').val(pos[2])
                     $('#edit_j3').val(pos[3])
                     $('#edit_j4').val(pos[4])
                     $('#edit_space').val("joint")
                     $('#edit_space').attr("disabled","disable")
                     $('#edit_description').val("")
                    $('#myModal').modal('show')
                    //window.location.href = '/'
                    }
                })
            
             
        });
        $('#btn_add_xyz').on('click',function(e){
               $.ajax({
                type:'GET',
                url:'/get_current_position/xyz',
                //data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    console.log(res)
                    pos = res.data
                     $('#edit_id').val("")
                     $('#edit_name').val("")
                     $('#edit_j0').val(pos[0])
                     $('#edit_j1').val(pos[1])
                     $('#edit_j2').val(pos[2])
                     $('#edit_j3').val(pos[3])
                     $('#edit_j4').val(pos[4])
                     $('#edit_space').val("xyz")
                     $('#edit_space').attr("disabled","disable")
                     $('#edit_description').val("")
                    $('#myModal').modal('show')
                    //window.location.href = '/'
                    }
                })
            
             
        });
         $('#btn_home').on('click',function(){
            $("#loading").addClass("progress-bar-animated");
            $.ajax({
                type:'POST',
                url:'/home',
                data:{},
                success:function(res){
                    ("#loading").removeClass("progress-bar-animated");
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            
            });
        $('#btn_connect').on('click',function(){
            console.log(config)
            animate(true)
            $("#loading").addClass("progress-bar-animated");
            $.ajax({
                type:'POST',
                url:'/connect',
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                data:{},
                success:function(res){
                    bindPositions(res)
                    animate(false)
                    
                    }
                })
            
            });

            $('#btn_refresh').on('click',function(){
                
                animate(true)
                $.ajax({
                    type:'GET',
                    url:'/get_position',
                    contentType:'application/json; charset=utf-8',
                    dataType:'json',
                    success:function(res){
                        bindPositions(res);
                        animate(false)
                    }
                    })
            
            });
        $('#btn_send_joint').on('click',function(){
             var j0 = parseFloat($('#J0').val())
             var j1 = parseFloat($('#J1').val())
             var j2 = parseFloat($('#J2').val())
             var j3 = parseFloat($('#J3').val())
             var j4 = parseFloat($('#J4').val())
             var json = {'j0':j0,
                         'j1':j1,
                         'j2':j2,
                         'j3':j3,
                         'j4':j4}
            animate(true)
            $.ajax({
                type:'POST',
                url:'/adjust_joint',
                data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    bindPositions(res)
                    animate(false)
                    console.log(res)
                    
                    }
                })
        })
        $('#btn_send_xyz').on('click',function(){
             var x = parseFloat($('#X').val())
             var y = parseFloat($('#Y').val())
             var z = parseFloat($('#Z').val())
             var a = parseFloat($('#A').val())
             var b = parseFloat($('#B').val())
             var json = {'x':x,
                         'y':y,
                         'z':z,
                         'a':a,
                         'b':b}
            animate(true)
            $.ajax({
                type:'POST',
                url:'/adjust_axis',
                data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    bindPositions(res)
                    animate(false)
                    console.log(res)
                    
                    }
                })
        });
        var grip = true
        $('#btn_grip').on('click',function(){
             grip = !grip;
             var json = {'grip':grip}
            animate(true)
            $.ajax({
                type:'POST',
                url:'/grip',
                data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    bindPositions(res)
                    animate(false)
                    console.log(res)
                    
                    }
                })
        });
        
        $(document).ready(function (){
            $("#state_loading").css('display','none')
            $("#btnToggle").on('click', function(){
                
                $("#leftBar").toggle();
                
            })
        })
        function bindPositions(res){
           
                    console.log('binding',res)
                    var joints = res.data.joint;
                    for (i = 0; i < joints.length; i++) {
                        $(`#J${i}`).val(joints[i])
                    }
                    var axis = ['X','Y','Z','A','B']
                    var xyzs = res.data.xyz;
                    for (i = 0; i < axis.length; i++) {
                        $(`#${axis[i]}`).val(xyzs[i])
                        console.log(`#${axis[i]}`, ' ',xyzs[i] )
                    }
                    
        }
        function animate(isAnimated=true){
           
            if (isAnimated){
                $("#loading").css('width','100%');
                $("#loading").addClass("progress-bar-animated");
                $("#state_loading").removeAttr('style');
                
              
            }else{
                $("#loading").removeClass("progress-bar-animated");
                $("#loading").css('width','0%');
                $("#state_loading").css('display','none');
                
               
            }
        }
         function getPositions(){
            $.ajax({
                type:'GET',
                url:'/get_position',
                data:{},
                success:function(res){
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            
            }

        // document.getElementById("btnToggle").onclick = function(){
        //     const currentVisibility = document.getElementById("leftBar").style.display
        //     document.getElementById("leftBar").style.display = currentVisibility == "none" ? "inline" : "none";
        // }
    </script>

{% endblock %}

