<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="css/roundslider.min.css">
        <script src="js/roundslider.min.js"></script>

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <style>
        .arrow{
            padding: 10px;
            margin: 10px;
        }
        .value{
            color:red;
        }
    
        .scrollable-wrapper {
            height: 100%;
            overflow-y: scroll;
      
        }
        .row {
            margin: 0;
        }
    </style>
    <body>
        <div class="row">
            <button class="btn btn-primary" id="btnToggle">
                <i class=""></i>
                Toggle
            </button>
        </div>
        <div class="row" style="height: 100%;">
            <div id="leftBar" class="col-3 scrollable-wrapper p-0">
                <div class="col-md-12  bg-gray-700 p-4">
                    <h4 class="text-center p-4 text-white"> ROBOT</h4>
                     <p class=" col-sm-6 text-sm text-white">Connect to robot:</p>
                     <button type="button" id='btn_connect' class="col-sm-6 btn btn-success m-2">Connect</button>
                    <button type="button" id='btn_home' class="col-sm-6 btn btn-primary m-2">HOME</button>
                    <div class="progress row m-2">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="p-4 rounded-lg rounded-l-none bg-gray-600">
                        <div class="p-1">
                            <label class="text-white" for="joint0">Joint 0 :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="joint0">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="joint1">Joint 1 :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="joint1">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="joint2">Joint 2 :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="joint2">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="joint3">Joint 3 :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="joint3">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="joint4">Joint 4 :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="joint4">
                        </div>
                        <div class="pt-4">
                            <button type="button" class="min-w-full pl-4 pr-4 btn btn-primary">Send</button>
                        </div>
                    </div>
                    <div class="mt-4 p-4 rounded-lg .rounded-l-none bg-gray-600">
                        <div class="p-1">
                            <label class="text-white" for="x">X axis :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="x">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="y">Y axis: </label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="y">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="z">Z axis :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="z">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="a">A (Joint 3) :</label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="a">
                        </div>
                        <div class="p-1">
                            <label class="text-white" for="b">B (Joint 4): </label>
                            <label class="text-white value">140</label>
                            <input type="range" class="custom-range" id="b">
                        </div>
                        <div class="pt-4">
                            <button type="button" class="min-w-full pl-4 pr-4 btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="col scrollable-wrapper p-0">
                <div class="col-md-12 m-0 p-0">
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                              <th colspan="5">Saved Positionn</th>
                              <th><button id="btn_add" class="min-w-full pl-1 pr-1 mt-1 btn btn-primary" >ADD POSITION</button></th>
                            </tr>
                          </thead>
                        <thead>
                          <tr>
                            <th scope="col">CMD</th>  
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">(Joint/XYZ)</th>
                            <th scope="col">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                        {%for i in range(0,posCount)%}
                        
                          <tr>
                                <th scope="row">
                                <button id="btn_go" data-id={{positions[i].get('id','n/a')}}  name='goto_button' type="submit" class="go-click min-w-full pl-1 pr-1 mt-1 btn btn-primary">GO</button>
                                <button id="btn-edit" name='edit' data-id={{i}} data-toggle="modal" data-target="#myModal" class="edit-click min-w-full pl-1 pr-1 mt-1 btn btn-warning">EDIT</button>
                                <a href={{ url_for('delete',id = positions[i].get('id','n/a'))}} class="min-w-full pl-1 pr-1 mt-1 btn btn-danger" >DELETE</a>

                                 
                                </th>
                                <td>{{positions[i].get('id','n/a')}}</td>
                                <td>{{positions[i].get('name','n/a')}}</td>
                                <td>{{positions[i].get('position','n/a')}}</td>
                                <td>{{positions[i].get('space','n/a')}}</td>
                                <td>{{positions[i].get('description','n/a')}}</td>
                            
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    <div class="row flex justify-center">
                        <div class="col-md-12 flex justify-center">
                            <button type="button" class="btn btn-primary arrow">   UP   </button>
                        </div>
                        <div class="col-md-6 flex justify-end">
                            <button type="button" class="btn btn-primary arrow">  LEFT  </button>
                        </div>
                        <div class="col-md-6 flex justify-start">
                            <button type="button" class="btn btn-primary arrow"> RIGHT </button>
                        </div>
                        <div class="col-md-12 flex justify-center">
                            <button type="button" class="btn btn-primary arrow"> DOWN </button>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">UPDATE POSITION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <form>
                   <input name="edit_id" type="hidden" class="form-control" id="edit_id">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">NAME</label>
                    <input name="edit_name" type="text" class="form-control" id="edit_name" placeholder="POSITION NAME">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="edit-j0">J0/X</label>
                      <input name="edit_j0" type="number" class="form-control" id="edit_j0">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="edit-j1">J1/Y</label>
                        <input name="edit_j1" type="number" class="form-control" id="edit_j1">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="edit-j2">J2/Z</label>
                      <input name="edit_j2" type="number" class="form-control" id="edit_j2">
                    </div>
                     <div class="form-group col-md-2">
                      <label for="edit-j3">J3/A</label>
                      <input name="edit_j3" type="number" class="form-control" id="edit_j3">
                    </div>
                     <div class="form-group col-md-2">
                      <label for="edit-j4">J4/B</label>
                      <input name="edit_j4" type="number" class="form-control" id="edit_j4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="edit-space">SPANCE</label>
                    <select name="edit_space" class="form-control" id="edit_space">
                      <option>joint</option>
                      <option>xyz</option>
        
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="edit-description">DESCRIPTION</label>
                    <textarea name="edit_description"class="form-control" id="edit_description" rows="3"></textarea>
                  </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save changes</button>
              </div>
            
            </div>
          </div>
        </div>
    
    </body>

    <script>
        var positions = {{ positions|tojson }};
            $(document).on("click", ".go-click", function (pos) {
             var id = $(this).data('id');
              $.ajax({
                type:'POST',
                url:'/goto_position/'+id,
                data:{},
                success:function(res){
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            });
           
         $(document).on("click", ".edit-click", function (pos) {
             var posIndex = $(this).data('id');
             var position = positions[posIndex];
             console.log('data >>',position);
             console.log('data >>',position.position);
             $('#edit_id').val(position.id)
             $('#edit_name').val(position.name)
             $('#edit_j0').val(position.position[0])
             $('#edit_j1').val(position.position[1])
             $('#edit_j2').val(position.position[2])
             $('#edit_j3').val(position.position[3])
             $('#edit_j4').val(position.position[4])
             $('#edit_space').val(position.space)
             $('#edit_description').val(position.description)
            });
         $('#btn_save').on('click',function(e){
             var id = $('#edit_id').val()
             var name = $('#edit_name').val()
             var j0 = $('#edit_j0').val()
             var j1 = $('#edit_j1').val()
             var j2 = $('#edit_j2').val()
             var j3 = $('#edit_j3').val()
             var j4 = $('#edit_j4').val()
             var space = $('#edit_space').val()
             var description = $('#edit_description').val()
             var json = {id:id,
                         name:name,
                         position:[j0,j1,j2,j3,j4],
                         space:space,
                         description,description}
             $.ajax({
                type:'POST',
                url:'/update',
                data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    console.log(res);
                    $('#myModal').modal('hide')
                    window.location.href = '/'
                    }
                })
             
        })
          $('#btn_add').on('click',function(e){
               $.ajax({
                type:'GET',
                url:'/get_current_position/joint',
                //data:JSON.stringify(json),
                contentType:'application/json; charset=utf-8',
                dataType:'json',
                success:function(res){
                    console.log(res)
                    pos = res.data
                     $('#edit_id').val("")
                     $('#edit_name').val("")
                     $('#edit_j0').val(pos[0])
                     $('#edit_j1').val(pos[1])
                     $('#edit_j2').val(pos[2])
                     $('#edit_j3').val(pos[3])
                     $('#edit_j4').val(pos[4])
                     $('#edit_description').val("")
                    $('#myModal').modal('show')
                    //window.location.href = '/'
                    }
                })
            
             
        });
         $('#btn_home').on('click',function(){
            $.ajax({
                type:'POST',
                url:'/home',
                data:{},
                success:function(res){
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            
            });
        $('#btn_connect').on('click',function(){
            $.ajax({
                type:'POST',
                url:'/connect',
                data:{},
                success:function(res){
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            
            });
        
        $(document).ready(function (){
            $("#btnToggle").on('click', function(){
                
                $("#leftBar").toggle();
                getPositions()
            })
        })
        
         function getPositions(){
            $.ajax({
                type:'GET',
                url:'/get_position',
                data:{},
                success:function(res){
                    console.log(res);
                    //window.location.href = '/'
                    }
                })
            
            }

        // document.getElementById("btnToggle").onclick = function(){
        //     const currentVisibility = document.getElementById("leftBar").style.display
        //     document.getElementById("leftBar").style.display = currentVisibility == "none" ? "inline" : "none";
        // }
    </script>
</html>


